In [1]:
import pandas as pd
from utils.dde_preprocessing_utils import set_timestamp_index,remove_duplicates
import datetime

In [2]:
def process_energy_exchange(path,year,country):
    df = pd.read_csv(path)
    date_range = pd.date_range(start=f'{year}-01-01 00:00:00+1:00', end=f'{year+1}-01-01 00:00:00+1:00',freq='1H')
    df=(df.set_index(date_range)).drop(['Time (CET)'],axis=1)
    # df.index = df.index.tz_localize( 'Europe/Berlin')
    df[f'energy_exchange_{country}'] = df[f'CTA|ES > CTA|{country} [MW]'] - df[f'CTA|{country} > CTA|ES [MW]'] 
    df.drop([f'CTA|{country} > CTA|ES [MW]',f'CTA|ES > CTA|{country} [MW]'],axis=1,inplace=True)
    return df

In [3]:
df_fr_15 = process_energy_exchange(".\extra_data\Cross-Border Physical Flow_201501010000-201601010000_FR.csv",2015,'FR')
df_fr_16 = process_energy_exchange(".\extra_data\Cross-Border Physical Flow_201601010000-201701010000_FR.csv",2016,'FR')
df_fr_17 = process_energy_exchange(".\extra_data\Cross-Border Physical Flow_201701010000-201801010000_FR.csv",2017,'FR')
df_fr_18 = process_energy_exchange(".\extra_data\Cross-Border Physical Flow_201801010000-201901010000_FR.csv",2018,'FR')

In [4]:
df_fr = pd.concat([df_fr_15,df_fr_16,df_fr_17,df_fr_18])

In [5]:
df_fr = remove_duplicates(df_fr)

In [6]:
df_fr.to_csv('transer_france.csv')

In [7]:
df_pt_15 = process_energy_exchange(".\extra_data\Cross-Border Physical Flow_201501010000-201601010000_PT.csv",2015,'PT')
df_pt_16 = process_energy_exchange(".\extra_data\Cross-Border Physical Flow_201601010000-201701010000_PT.csv",2016,'PT')
df_pt_17 = process_energy_exchange(".\extra_data\Cross-Border Physical Flow_201701010000-201801010000_PT.csv",2017,'PT')
df_pt_18 = process_energy_exchange(".\extra_data\Cross-Border Physical Flow_201801010000-201901010000_PT.csv",2018,'PT')
df_pt = pd.concat([df_pt_15,df_pt_16,df_pt_17,df_pt_18])

In [8]:
df_pt = remove_duplicates(df_pt)

In [9]:
df_pt.to_csv('transer_portugal.csv')

In [10]:
df = pd.concat([df_pt,df_fr],axis=1)

In [11]:
df[:-1].to_csv('transfer.csv')

In [12]:
len(df)

35065

In [13]:
df.describe()

       energy_exchange_PT  energy_exchange_FR
count        35061.000000        35056.000000
mean          -227.750692        -1122.184733
std           1125.397255         1590.866162
min          -3978.000000        -5567.000000
25%          -1006.000000        -2363.000000
50%           -159.000000        -1487.000000
75%            604.000000         -330.750000
max           3060.000000         3447.000000